# Gradle
.gradle/
build/
**/build/

# Android Studio / IDEA
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.class
*.log
.kotlin/

# Build output
*.aab
*.apk
app/release/

# OS
.DS_Store
